* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100vh;
  background: #f0f0f0;
}

#container {
  padding: 1.5rem;
}
#burger {
  position: relative;
}
#bars {
  width: 38px;
  height: 32px;
  position: relative;
  z-index: 99;
}
input {
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 32px;
  opacity: 0;
  z-index: 999;
}
input:focus-visible ~ #bars {
  outline: green auto 1px;
  outline-offset: 1px;
}
.bar {
  width: 38px;
  height: 5px;
  background: black;
  position: absolute;
  transform-origin: center;
  left: 50%;
  transition: scale 0.15s ease-in-out 0.15s, top 0.15s ease-in-out 0.15s, rotate 0.15s ease-in-out,
    background 0.15s ease-in-out 0.15s;
  translate: -50% -50%;
}
.bar-1 {
  top: 2.5px;
}
.bar-2 {
  top: 50%;
}
.bar-3 {
  top: calc(100% - 2.5px);
}

input:checked ~ #bars .bar {
  transition: scale 0.15s ease-in-out, top 0.15s ease-in-out, rotate 0.15s ease-in-out 0.15s, background 0.15s ease-in-out;
}

input:checked ~ #bars .bar-1 {
  top: 50%;
  rotate: 45deg;
  background: white;
}
input:checked ~ #bars .bar-2 {
  transform: scale(0);
  background: white;
}
input:checked ~ #bars .bar-3 {
  top: 50%;
  rotate: -45deg;
  background: white;
}
input:checked ~ #navbar {
  left: -1.5rem;
}

#navbar {
  position: absolute;
  left: -17.5rem;
  top: -1.5rem;
  height: 100vh;
  padding: 6rem 10rem 6rem 1.5rem;
  background: #505050;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
a {
  color: white;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}
.back {
  margin-top: auto;
  cursor: pointer;
}
.back:hover {
  color: indianred;
}
