@import url('./navbar.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(56, 56, 56);
}

#container {
  display: grid;
  width: 219px;
  height: 329px;
  grid-template-rows: repeat(30, 10px);
  grid-template-columns: repeat(20, 10px);
  gap: 1px;
}
#container div {
  background: rgb(80, 80, 80);
  transition: all 1s ease-in-out;
}
#container .hover {
  background: var(--color);
  transition: none;
}
@media (min-width: 768px) {
  #container {
    height: 419px;
    width: 629px;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(30, 20px);
  }
}
